         
          /* Gradient background for the whole page */
        body {
            background: linear-gradient(to bottom, #f0f0f0, #d3d3d3);
        }

        /* Custom styles for the carousel */
        #newsCarousel {
            margin: 20px auto;
            width: 80%;
            height: 85%;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
        }

        .carousel-item img {
            height: 300px;
            object-fit: cover;
            border-radius: 10px;
        }

        .carousel-caption {
            background: rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            padding: 10px;
        }

        /* Adjust button alignment */
        .navbar-nav {
            flex-direction: row;
        }

        .nav-link {
            padding-right: 1rem;
            font-weight: 500;
        }

        /* News card styles */
        .card {
            margin: 20px auto;
            max-width: 18rem;
            height: 350px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        }

        .card img {
            height: 150px;
            object-fit: cover;
        }

        .card-body {
            height: 150px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: white;
        }

        .card-text {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3; /* Limit the number of lines */
            overflow: hidden;
        }

        /* News card hover effect */
        .card:hover {
            transform: translateY(-15px);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
        }

        /* Center the news cards */
        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }


         /* Footer */
         footer {
            padding: 8vw;
            margin-top: 5px;
            background-color: #004F98;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
          }
          
          footer .footer-col {
            padding-bottom: 40px;
          }
          
          footer h3 {
            color: rgb(241, 240, 245);
            font-weight: 600;
            padding-bottom: 20px;
          }
          
          footer li {
            list-style: none;
            color: white;
            padding: 10px 0;
            font-size: 15px;
            cursor: pointer;
            transition: 0.3s ease;
          }
          
          footer li:hover {
            color: rgb(241, 240, 245);
          }
          
          footer p {
            color: #7b838a;
          }
          
          footer .subscribe {
            margin-top: 20px;
          }
          
          footer input {
            width: 220px;
            padding: 15px 12px;
            background: #334F6C;
            border: none;
            outline: none;
            color: #fff;
          }
          
          footer .subscribe a {
            text-decoration: none;
            font-size: 0.9rem;
            padding: 15px 12px;
            background-color: aliceblue;
            font-weight: 600;
            transition: 0.5s ease;
          }
          
          footer .subscribe .yellow {
            color: aliceblue;
            background: #FDC93B;
          }
          
          footer .subscribe .yellow:hover {
            color: rgb(21, 21, 100);
            background: aliceblue;
          }
          
          footer .copyright {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;
          }
          
          footer .copyright p {
            color: #fff;
          }
          
          footer .copyright .pro-links {
            margin-top: 0px;
          }

          .logout{
            color: white;
            font-size: large;
            font-weight: 500;
          }
          
          
          footer .copyright .pro-links i {
            background-color: white;
            color: #fff;
            font-size: 20px;
            padding: 15px;
            cursor: pointer;
          }
          
          footer .copyright .pro-links i:hover {
            background-color: #FDC93B;
            color: #2c2c2c;
          }
          
    